# Datasets and Large Files
dataset.zip
saved_datasets_chkpnts/
repros/

# Environment and IDE specific
.vscode/
wandb/ # Weights & Biases logs, usually quite large
*.env


# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/wandb
/saved_datasets_chkpts
/score_experts_viz/visualizations
/score_experts_viz/midi_output
/score_experts_viz/composer_experts_viz
humdrum/
/score_experts_viz/experts_viz
*.Identifier
