[submodule "musicbert_fork"]
	path = musicbert_fork
	url = https://github.com/TomusD/musicbert_fork.git
[submodule "music_df"]
	path = music_df
	url = https://github.com/TomusD/music_df.git
[submodule "reprs"]
	path = reprs
	url = https://github.com/TomusD/reprs.git
[submodule "write_seqs"]
	path = write_seqs
	url = https://github.com/TomusD/write_seqs.git
